.userInfoBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    border: none;
    color: #fff;
    background: firebrick;
    padding: 14px 22px;
    cursor: pointer;
    font-size: 1.5rem;
}

.button:hover {
    background: #fff;
    color: firebrick;
    outline: 2px solid firebrick;
}