.userBlock {
    margin-bottom: 10px;
}

.userName {
    color: black;
    text-decoration: none;
}

.userName:hover {
    color: firebrick;
}

.albumButton {
    border: none;
    padding: 5px 12px;
    background-color: gold;
    font-weight: bold;
    cursor: pointer;
    margin-left: 25px;
}