.form {
    margin-left: 15px;
}

.formError {
    font-style: italic;
    color: red;
}

.button {
    border: none;
    border-radius: 5px;
    color: snow;
    background: firebrick;
    padding: 8px 14px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}