.navbar {
    display: flex;
    justify-content: center;
    column-gap: 12px;
    padding: 20px 0;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
}

.navbar a:hover {
    color: firebrick;
}